body {
    background-image: url(tetris-pozadina.png);

}



h1 {
    font-family: 'Press Start 2P', cursive; 
    color: #FFFFFF;
    font-size: 4rem; 
    text-align: center;
    text-shadow: 
        2px 2px 0 #000,
        3px 3px 0 #333, 
        4px 4px 0 #555;
    letter-spacing: 2px;
    margin: 0;
    padding: 1rem;

}


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#tetris {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

table {
    border: 20px solid purple;
    width: 750px;
    height: 750px;
    background: #2e2e2e; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    
}

tr,td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

td {
    position: relative; 
    padding: 10px; 
    border: 1px solid #ddd; 
    background: #fff;
    overflow: hidden;
}


#divBrojac {
    padding: 10px;
    font-family: 'Press Start 2P', cursive; 
    font-size: 25px;
    color: #FFFFFF; 
    background-color: #333333; 
    border: 3px solid #FFCC00; 
    border-radius: 10px; 
    width: fit-content;
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

#sledeciOblikDiv{
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    color: #FFFFFF; 
    background-color: #333333; 
    border: 3px solid #FFCC00;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    float:right;
}

table, th, td {
    border-radius: 10px;
  }





