body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('tetrislika.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5; 
    z-index: -1;
}


  
h1 {
    text-align: center;
    }

#objasnjenje {
    list-style-type: circle;
    font-size: 16px;
    text-align: center;

}

#objasnjenje:hover {
    background-color: lightseagreen;
}

.button-container {
    display: flex;
    justify-content: center; 
     
}

.form-range { 
    width: 50%; 
    height: 1.5rem; 

}

.form-label { 
    margin-top: 15px;

}

#tezinaNivoaLabel {
    font-size: 25px;
    color: rgb(0, 4, 255);
    font-weight: bold;

}
  
#blokovi {
    width: 30px;
}

#prikaz {
  margin-right: 5px;
}


img {
    width: 125px;
    height: 125px;
    margin: 5px;
    cursor: pointer;
}

img:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
    width: 125px;
    height: 125px;
    border: 3px dashed red;
    margin: 5px;
}


img:active {
  background-color: lightslategray;
}

.selected {
  border: 3px solid red;
  transition: border-color 0.3s;
}


  
  .bcca-breadcrumb {
    margin: 0 auto;
  }
  
  /*** breadcrumb container ***/
  .bcca-breadcrumb {
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 0;
    width: fit-content;
    margin-bottom: 15px;
    position: relative;
    border-radius: 4px;
  }
  
  /*** breadcrumb items ***/
  .bcca-breadcrumb-item {
    transition: all 0.2s ease-in-out;
    height: 40px;
    background: white;
    box-shadow: 0px 0px 18px -2px #d9d9d9;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(74, 74, 74, 0.8);
    position: relative;
    cursor: pointer;
    float: left;
  }
  
  .bcca-breadcrumb-item:after {
    transition: all ease-in-out 0.2s;
    content: "";
    position: absolute;
    left: calc(100% - 10px);
    top: 6px;
    z-index: 1;
    width: 0;
    height: 0;
    border: 14px solid #ffffff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    box-shadow: 0px 0px 0 0px #d9d9d9, 5px -5px 10px -4px #d9d9d9;
    transform: rotate(45deg);
    margin-left: -4px;
  }
  
  .bcca-breadcrumb-item:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 10px;
  }
  
  .bcca-breadcrumb-item:first-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(23, 165, 98, 0.06);
  }
  
  .bcca-breadcrumb-item:first-child:after {
    content: "";
    display: none;
  }
  
  .bcca-breadcrumb-item i {
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.2);
  }
  
  /*** hover breadcrumbs ***/
  .bcca-breadcrumb-item:hover {
    background-color: #f9f9f9;
  }
  
  .bcca-breadcrumb-item:hover:after {
    border: 14px solid #f9f9f9;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  
  .bcca-breadcrumb-item:first-child:hover {
    background-color: rgba(23, 165, 98, 0.15);
  }
  
  